{% include analytics.html %}

<script src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="javascript:void(0);">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <a class="btn btn-lg" href="/connect/">Subscribe To Our Mailing Lists</a>
      </nav>
      <address>
        <div class="usa-width-one-third">
            <p><a href="mailto:emergingtech@gsa.gov">EmergingTech@gsa.gov</a></p>
          </div>
        </div>
      </address>
    </div>
  </div>
</footer>
<!-- Hello! -->
