{% include analytics.html %}

<script src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <a class="btn btn-lg" href="/connect/">Contact Us</a>
      </nav>
      <address>
        <div class="usa-width-one-third" align="center">
            <p><a href="mailto:emergingtech@gsa.gov">EmergingTech@GSA.Gov</a></p>
          </div>
        </div>
      </address>
    </div>
  </div>
</footer>
<!-- Hello! -->
