{% include gov-banner.html %}

<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo-text">
        <a href="/"
          title="{{ site.name }} Home"
          aria-label="Home">
          {{ site.name }}
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>

  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="/assets/img/close.svg" alt="close">
      </button>


      <div class="usa-nav-secondary">
        <ul class="usa-unstyled-list usa-nav-secondary-links">
          {% for item in site.main_navigation %}
            <li>
            {% if item.url %}
            <a class="{{ current }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
            {%else%}
            {{ item.text }}
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
