<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <script type="text/javascript">
    var g_url = 'https://gsa.github.io/emerging-technology-atlas/';
    var current_url = window.location;
    if ( current_url.href.indexOf(g_url) >= 0 ) {
      var path = current_url.href.replace(g_url, "");
      window.location.href = 'https://emerging.digital.gov/' + path;
    }
  </script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
  <link href="{{ site.baseurl }}/assets/css/google-fonts.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css?{{ site.time | date: "%Y%m%j%H%M%S" }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/nara.css">
  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/nara.js"></script>

  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/favicon.ico" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  {% if page.title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }}" />
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description | xml_escape }}">
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
  {% else %}
    <meta name="description" content="{{ site.description | xml_escape }}">
    <meta property="og:description" content="{{ site.description | xml_escape }}" />
  {% endif %}

</head>
