<header role="banner">
  <div class="hbadge">
    <img src="{{ site.baseurl }}/assets/images/badge.png" alt="OpenGov National Archives"/>
  </div>

  <div class="pheader">
    <div class="pheader_body">
      <div class="pg_header">
        <h1>U.S. Emerging Citizen Technology Atlas</h1>
        <h2>One-Stop Shop for Emerging Technologies in Government </h2>
      </div>
       <div class="header_menu">
         <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues/" style="color: white;" class="button">Contribute</a>
       </div>
      </div>
    </div>
    <div style="clear:both;">
</header>
