


<section class="usa-hero">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2>We help teams understand and apply emerging technology to government services.</h2>
    </div>

    <h2>How we'll work with you</h2>
    <h4>Consult</h4>
    <p>First, consultation with individual agencies and businesses to gain an understanding of potential use cases and trends.</p>

    <h4>Collaborate</h4>
    <p>Next, building collaborative networks across government silos based on proven needs that reduce duplication of effort and better identify opportunities and barriers, including our new interagency Venture Capital Advisory Group.</p>

    <h4>Contribute</h4>
    <p>Ultimately, activation of interagency teams to support the development of shared resources and services that empower federal agencies to achieve more effective and efficient IT modernization.</p>


    <h2>What effect are we having?</h2>
    <ul>
      <li>We are reducing duplication of efforts</li>
      <li>Improving outcomes in government services</li>
      <li>Informing government policy</li>
      <li>Elevating the capabilities of teams</li>
    </ul>

    See which agencies are participating with us
    https://emerging.digital.gov/participatingagencies/

    About us

    How to reach us

    - Social-gov
    - AI-gov
    - blockchain-gov
    - VR/AR-gov
    - AI-public
    - blockchain-public
    - VR/AR-public



  </div>
</section>
