<section class="promos">
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <div class="promo">
        <h3><a href="#">Consultations</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue aliquet tincidunt.</p>
      </div>
    </div>
    <div class="usa-width-one-third">
      <div class="promo">
        <h3><a href="#">Agencies</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue aliquet tincidunt.</p>
      </div>
    </div>
    <div class="usa-width-one-third">
      <div class="promo">
        <h3><a href="#">Technologies</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue aliquet tincidunt.</p>
      </div>
    </div>
  </div>
</section>
