<section class="promos strip">
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <div class="promo">
        <h3><a href="#">Federal Agencies</a></h3>
        <p>Agencies have the opportunity to be on the cutting edge of emerging technology adoption.<p>
        <p><a href=""><strong>Learn more »</strong></a></p>
      </div>
    </div>
    <div class="usa-width-one-third">
      <div class="promo">
        <h3><a href="#">Emerging Technologies</a></h3>
        <p>Emerging Technologies evolve at a rapid pace, that can be challenging for Federal IT modernization efforts.<p>
        <p><a href=""><strong>Learn more »</strong></a></p>
      </div>
    </div>
    <div class="usa-width-one-third">
      <div class="promo">
        <h3><a href="#">Interagency Initiatives</a></h3>
        <p>As agencies share their efforts, collaboration will spur innovation and broader adoption of new technologies.<p>
        <p><a href=""><strong>Learn more »</strong></a></p>
      </div>
    </div>
  </div>
</section>
