body{
  color: #212346;
}
.hidden{
  display: none;
}

.usa-header-extended .usa-navbar,
.usa-grid{
  max-width: 960px;
}
// expanding the text column
.usa-content .usa-layout-docs-main_content p{
  max-width: none;
}

// Controls the height and color of the navbar
.usa-header{
  background: #212346;
  border: none;
  .usa-navbar{
    height: 9rem;
    .contribute{
      margin: 0;
      float: right;
      top: 40px;
      position: relative;
      display: none;
    }
  }
}

section{
  padding: 50px 0;
}

section.strip{
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  h2{
    font-size: 4rem;
  }
  h3{
    margin-top: 1em;
    font-size: 3rem;
  }
  .thin{
    font-weight: 200;
  }
  a{
    color: #fff
  }
  p{
    margin-top:0;
    font-size: 2rem;
  }
  .promo{
    margin-bottom: 1em;
    padding: 1em;
    background: #ffe3a3;
    border-radius: 2px;
    a{
      color: #212346;
    }
    h3{
      margin-top: 0;
      font-size: 21px;
      a{
        color: #212346;
        text-decoration: none;
        &:hover{
          border-bottom: 2px #ff580a solid;
        }
      }
    }
    p{
      margin: 0;
      line-height: 1.2em;
    }
  }
  .centered{
    text-align: center;
  }
  .btn{
    padding: 7px 13px 9px 13px;
    background: #212346;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
  }
  .btn:hover{
    background: #2f3269;
  }
  .btn-lg{
    padding: 10px 20px 12px 20px;
    font-size: 22px;
  }
}


section.strip-dark{
  background: #212346;
  color: #fff;
  .btn{
    background: #fff;
    color: #212346;
  }
  .btn:hover{
    background: #fff;
    text-decoration: underline;
  }
  .promo{
    background: #3b3e70;
    a{
      color: #fff;
    }
    h3 a{
      color: #fff;
    }
  }
}



@media screen and (min-width: 600px) {
  .usa-header{
    .usa-navbar{
      height: 8rem;
    }
  }
}
@media screen and (min-width: 951px) {
  .usa-header{
    .usa-navbar{
      height: 10rem;
    }
  }
}
@media screen and (min-width: 1201px) {
  .usa-header{
    .usa-navbar{
      height: 10rem;
      .contribute{
        top: 30px;
        display: block;
      }
    }
  }
}

.usa-logo {
  width:80%;
  h1{
    margin-top: 1rem;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 2.2rem;
    a{
      color:#fff;
    }
    .emoji{
      margin-left: 8px;
      position: relative;
      width: 24px;
      height: 24px;
      top:6px;
    }
    .gsa{
      margin-right: 15px;
      width: 40px;
      display: block;
      float: left;
      position: relative;
      top:6px;
    }
  }
}
@media screen and (min-width: 600px) {
  .usa-logo {
    h1{
      margin-top: 2.5rem;
      font-size: 2.2rem;
      .emoji{
        width: 28px;
        height: 28px;
        top:8px;
      }
      .gsa{
        width: 40px;
        top:-6px;
      }
    }
  }
}
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-logo {
    margin: 0;
    margin-top: 2.8rem;

    h1{
      margin-top: 0;
      font-size: 3rem;
      .emoji{
        width: 32px;
        height: 32px;
        top:6px;
      }
      .gsa{
        width: 50px;
        top:-6px;
      }
    }
  }
}
@media screen and (min-width: 1201px) {
  .usa-logo {
    h1{
      margin-top: 0;
      .gsa{
        top:-8px;
      }
    }
  }
}

.usa-content .usa-layout-docs-sidenav{
  margin-top: 4rem;
  width: 100%;
  border-top:3px solid #212346;
  ul.usa-sidenav-list{
    max-width: none;
    li strong{
      padding:1rem 1.4rem;
      display: inline-block;
    }
  }
}



@media screen and (min-width: 1201px) {
  .usa-content .usa-layout-docs-sidenav{
    margin-top: 0;
    border:none;
    width: 23.23176%;
    ul.usa-sidenav-list{
      max-width: 53rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .usa-nav{
    display: none;
  }
}

.emoji{
  // width:
}
