section.hero{
  padding: 30px 0 40px 0;
  background: #f5f5f0;
  h2{
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 3.6rem;
    color: #453c7b;
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    h2{
      font-size: 5rem;
      width: 80%;
    }
  }
}
