body{
  color:black;
  line-height:2.2em;



}
table{
  width:100%;
}
.mycontainer{
  font-size:initial;

}

.main-content{
  line-height:1.5em;
}

.main-content li{
  margin-bottom:0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight:bold;
  font-size: 1.5em;
}

.main-content .h1, h1{
  font-size:2em;
}

.main-content .h2,h2{
  font-size:1.8em;
}


.main-content .h3,h3{
  font-size:1.6em;
}

.main-content .h4,h4{
  font-size:1.4em;
}

.main-content .h5,h5{
  font-size:1.2em;
}

header .pg_header h1,h2{
  /*font-family:UniveLigUltCon;*/
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;

}

article{
  margin-top:0px;
}
aside{
  margin-top:0px;
}
aside p{
  font-size: 18px;
}


aside p{
  font-size: 18px;
}

header{

  height:auto;
  display:block;
  position:relative;
  padding: 0;

}

header img{
  max-width: 100%;


  bottom:0px;

}

div header{
  background-color:#aeb0b5;
  background: top left repeat url(../images/background1.png);

}
header div.hbadge{

  float:left;
  background-color:transparent !important;

  padding:0px 0px;
  padding-left:20px;
  width: 180px;

}
header div.hbadge img{
  padding:0px 20px;
  padding-bottom:15px;


}
header .pheader{
  display:block;
  position:relative;
  padding-top:0px;
  padding-left:200px;
}

.pheader h1, .pheader h2{
  color:black;
}

.pheader_body{
  padding-left:0px;


}

header .pg_header h1{
	font-size:2em;
	line-height:1.5em;
  font-weight:bold;
}

header .pg_header h1 span{
  color:white;
}

header .pg_header h2{
	font-size:1em;
	height:auto;
  font-weight:normal;
	margin:0;
  color:#fff;
}
header .pg_header h2 a{
	/*color:white;*/
}

header .pg_header{
  display:block;
  padding-top:30px;



}
header .header_menu{
  position:absolute;
  font-size:1em;
  line-height:1em;

  padding-right:10px;
  bottom:-30px;
  right:0px;

}

header .header_menu, header .header_menu a, header .header_menu a:link{
  color: #112e51 !important;
}

@media screen and (max-width: 1200px) {
  header div.hbadge{
    padding-left:20px;


  }
  header div.hbadge img{

  }
  header .pheader{

  }

  header .pg_header h1{
    font-size:2em;
  }
  header .pg_header h2{
    font-size:1.5em;
  }

  header .header_menu{
    bottom:-20px;
  }
}

@media screen and (max-width: 900px) {
  header div.hbadge{
    padding-left:20px;


  }
  header div.hbadge img{

  }
  header .pheader{

  }

  header .pg_header h1{
    font-size:2em;
  }
  header .pg_header h2{
    font-size:1.5em;
  }
  header .pg_header{
    padding-top:20px;
  }

  header .header_menu{
    bottom:-20px;
  }
}
@media screen and (max-width: 600px) {

  header div.hbadge{
    float:none;
  }
  header .pheader{
    float:none;
    padding-top: 10px;
    padding-left:0px;
    display:block;
    padding-bottom:15px;

  }
  header .header_menu{
    bottom:0px;
  }
  header {
    min-height:0px;
  }
  header .pg_header{
    padding-top:0px;
    width:100%;
    overflow:hidden;

  }
  header .pg_header img{
    margin-top:-5px;

  }
  .pheader_body{
    padding-left: 0px;
  }
}



.panel-title a{
  display:block;
  position:relative;
  text-decoration:none;
  padding: 10px 15px;
  background-color:#F1F1F1;
  padding-right:40px;
}

.panel-title a:link{
  color: black;
}
.panel-title a:hover{
  background-color: #d6d7d9;
  outline: none;
}

.panel-title a:link, .panel-title a:visited, .panel-title a:focus{
    border:none;
}


.panel-title a span.glyphicon{
  right:20px;
  top:18px;
  position:absolute;

}



@media print{

  header{
  position:relative;
  display:block;
  }
  .header_menu{
  	display:none;
  }

  aside{
  	display:none;
  }
  article{
  	width:100%;
  	margin:0;
  	padding:0;
  }

  .collapse { display: block !important; height: auto !important; }

  .panel-group .panel, .panel-group .panel-heading, .panel-group .panel-title{
  	padding:0;
  	margin:0;
  }
  .panel-title a span.glyphicon{
  	display:none;
  }

  a:after{
  	content:"" !important;
  }

}

.sidebar-nav span{
  font-size: 90%;

}

.imgright{
  float:right;
  max-width:200px;
  padding-left:20px;
  padding-bottom:5px;
}

.indent {
  padding-left:50px;
  text-indent: -30px ;
}
