---
layout: default
---

<main class="" id="main-content">

  {% include hero.html %}

  {% include three-promos.html %}

  <section class="strip strip-dark">
    <div class="usa-grid">
      <div class="usa-width-two-thirds">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
        <a class="btn btn-lg" href="">Learn more »</a>
      </div>
      <div class="usa-width-one-third">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue aliquet tincidunt. Cras in <a href="#">words go here</a>libero rhoncus, semper metus eu, finibus nunc. Nunc feugiat lorem tellus, et solli.</p>

      </div>
    </div>
  </section>

  <section>
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        {{ content }}
      </div>
    </div>
  </section>

</main>
