---
layout: default
---

<main class="" id="main-content">


  <section class="strip hero">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <h2 class="thin">We collaboratively help teams understand and apply emerging technology to government services.</h2>
      </div>
    </div>
  </section>

  <section class="promos strip strip-dark">
    <div class="usa-grid">
      <div class="usa-width-one-third">
        <div class="promo centered">
          <h3><a href="#">Initiatives</a></h3>
          <p>Working across government, business and academia for the best solutions.<p>
          <p><i class="far fa-eye"></i></p>
        </div>
      </div>
      <div class="usa-width-one-third">
        <div class="promo centered">
          <h3><a href="#">Focus</a></h3>
          <p>Practical innovations in AI, Robotic Automation, Blockchain and more.<p>
          <p><i class="far fa-eye"></i></p>
        </div>
      </div>
      <div class="usa-width-one-third">
        <div class="promo centered">
          <h3><a href="#">Community</a></h3>
          <p>Join more than 300 participating federal, state and local programs.<p>
          <p><i class="far fa-eye"></i></p>
        </div>
      </div>
    </div>
  </section>


  <section class="strip">
    <div class="usa-grid">
      <div class="usa-width-two-thirds">
        <h2>How we'll work with you</h2>
        <h3>Consult</h3>
        <p>First, consultation with individual agencies and businesses to gain an understanding of potential use cases and trends.</p>

        <h3>Collaborate</h3>
        <p>Next, building collaborative networks across government silos based on proven needs that reduce duplication of effort and better identify opportunities and barriers, including our new interagency Venture Capital Advisory Group.</p>

        <h3>Contribute</h3>
        <p>Ultimately, activation of interagency teams to support the development of shared resources and services that empower federal agencies to achieve more effective and efficient IT modernization.</p>
      </div>
      <div class="usa-width-one-third">
        <div class="promo">
          <h3>Over +30 Federal Agencies</h3>
          <p>See which agencies are participating with us »</p>
        </div>

      </div>
    </div>
  </section>

  <section class="strip strip-dark">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <p>Launched in October 2016, the U.S. General Services Administration's Emerging Citizen Technology Office is dedicated to working collaboratively across government, industry and academia to help programs take advantage of emerging technology innovations to improve public services today.</p>
        <a class="btn btn-lg" href="">Read more about us »</a>
      </div>
      <div class="usa-width-one-third">

      </div>
    </div>
  </section>

</main>
