---
layout: default
---

<main class="" id="main-content">

  {% include hero.html %}

  {% include three-promos.html %}

  <section class="strip strip-dark">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <h3>Launched in October 2017, the U.S. Emerging Citizen Technology Atlas is an open source resource organized by GSA’s Emerging Citizen Technology Office (ECTO) in partnership with innovative programs and people across government to help tear down the barriers so anyone from public servants and policy-makers to U.S. businesses, researchers, and the public can learn and share updates.</h3>
        <a class="btn btn-lg" href="">Learn more »</a>
    </div>
  </section>

  <section>
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        {{ content }}
      </div>
    </div>
  </section>

<section>
  <div class-"footer">

</main>
