---
layout: default
---

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
  <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    {% include navigation.html %}
  </aside>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <div class="post-content">
      {{ content }}
    </div>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Resources</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th> <a href="https://www.actiac.org/act-iac-white-paper-enabling-blockchain-innovation-us-federal-government" scope="row" >Enabling Blockchain Technology in the U.S. Federal Government</a>
      <td>A white paper from ACT-IAC on Blockchain in the federal government. (non-government link, not endorsed).</td>
    </tr>
    <tr>
      <th> <a href="https://blockchan.ge/" scope="row" >Blockchange</a>
      <td>A New York University GovLab initiative to examine the potential of Blockchain for social change. (non-government link, not endorsed)</td>
    </tr>
    <tr>
      <th> <a href="https://www.economist.com/news/business/21722869-anti-establishment-technology-faces-ironic-turn-fortune-governments-may-be-big-backers" scope="row" >Governments May Be Big Backers of the Blockchain</a>
      <td>An article from The Economist on the role of the public sector in Blockchain development. (non-government link, not endorsed)</td>
    </tr>
    <tr>
      <th> <a href="https://www.gartner.com/smarterwithgartner/top-10-mistakes-in-enterprise-blockchain-projects/" scope="row" >Top 10 Mistakes in Enterprise Blockchain Projects</a>
      <td>A report from Gartner on common mistakes when evaluating Blockchain technology. (non-government link, not endorsed)</td>
    </tr>
    <tr>
      <th> <a href="https://governmentblockchain.org/" scope="row" >The Government Blockchain Association</a>
      <td>Resources from the Government Blockchain Association available to federal managers. (non-government link, not endorsed)</td>
    </tr>
    <tr>
      <th> <a href="https://www.nascio.org/Portals/0/Publications/Documents/2017/NASCIO%20Blockchains%20in%20State%20Government.pdf?ver=2017-05-16-090507-033" scope="row" >Blockchains: Moving Digital Government Forward in the States</a>
      <td>A resource from the National Association of State Chief Information Officers on advancing Blockchain technology in state governments. (non-government link, not endorsed)</td>
    </tr>
  </tbody>
</table>
  </div>
</main>
<section class="strip strip-dark">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h3>Subscribe to our Federal and Public blockchain-focused mailing lists</h3>
    </div>
    <div align="center" class="usa-width-one-fourth">
      <a class="btn btn-lg" href="">Federal</a>
    </div>
    <div align="center" class="usa-width-one-fourth">
      <a class="btn btn-lg" href="">Public</a>
    </div>
  </div>
</section>
