---
layout: default
---
<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
  <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    {% include navigation.html %}
  </aside>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <section class="promos strip">
      <div class="usa-grid">
        <div class="usa-width-one-third">
          <div class="promo">
            <h3><a href="/artificial-intelligence-federal/">Use Cases</a></h3>
            <p><a href="/artificial-intelligence-federal/"><strong>Learn more »</strong></a></p>
          </div>
        </div>
        <div class="usa-width-one-third">
          <div class="promo">
            <h3><a href="/artificial-intelligence-programs/">Programs</a></h3>
            <p><a href="/artificial-intelligence-programs/"><strong>Learn more »</strong></a></p>
          </div>
        </div>
        <div class="usa-width-one-third">
          <div class="promo">
            <h3><a href="/artificial-intelligence-resources/">Resources</a></h3>
            <p><a href="/artificial-intelligence-resources/"><strong>Learn more »</strong></a></p>
          </div>
        </div>
      </div>
    </section>

    <div class="post-content">
      {{ content }}

    </div>
  </div>
</main>
<section class="strip strip-dark">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h3>Subscribe to our Federal and Public blockchain focused mailing lists</h3>
    </div>
    <div align="center" class="usa-width-one-fourth">
      <a class="btn btn-lg" href="">Federal</a>
    </div>
    <div align="center" class="usa-width-one-fourth">
      <a class="btn btn-lg" href="">Public</a>
    </div>
  </div>
</section>
