---
layout: default
---

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
  <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    {% include navigation.html %}
  </aside>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <section class="promos strip">
      <div class="usa-grid">
        {% if page.promos %}

          {% assign count = page.promos | size %}
          {% if count == 3 %}
            {% assign cols = "one-third" %}
          {% else if count == 2 %}
            {% assign cols = "one-half" %}
          {% else if count == 1 %}
            {% assign cols = "one-whole" %}
          {% endif %}

          {% for promo in page.promos %}
            <div class="usa-width-{{ cols }}">
              <div class="promo">
                <h4><a href="{{ promo.url }}">{{ promo.name }}</a></h4>
                <p>{{ promo.desc }}</p>
                <p><a href="{{ promo.url }}"><strong>Learn more »</strong></a></p>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>

    <div class="post-content">

      {{ content }}

    </div>
  </div>
</main>
<section class="strip strip-dark">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h3>Subscribe to our Federal and Public blockchain-focused mailing lists</h3>
    </div>
    <div align="center" class="usa-width-one-fourth">
      <a class="btn btn-lg" href="">Federal</a>
    </div>
    <div align="center" class="usa-width-one-fourth">
      <a class="btn btn-lg" href="">Public</a>
    </div>
  </div>
</section>
