---
layout: default
---

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
  <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    {% include navigation.html %}
  </aside>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div class="post-content">
      {{ content }}
    </div>

    <section class="promos strip">
      <div class="usa-grid">
        <div class="usa-width-one-third">
          <div class="promo">
            <h3><a href="#">Potential Use Cases</a></h3>
            <p><a href=""><strong>Learn more »</strong></a></p>
          </div>
        </div>
        <div class="usa-width-one-third">
          <div class="promo">
            <h3><a href="#">Current Programs</a></h3>
            <p><a href=""><strong>Learn more »</strong></a></p>
          </div>
        </div>
        <div class="usa-width-one-third">
          <div class="promo">
            <h3><a href="#">Resources</a></h3>
            <p><a href=""><strong>Learn more »</strong></a></p>
          </div>
        </div>
      </div>
    </section>

  </div>
</main>
